div {
	height: 100px;
	margin: 20xp 0;
/*	background: red;*/
}

.box2 {
	background: blue;
}

.box3 {
	background: green;
}

.box4 {
	background: yellow;
}

.box5 {
	background: orange;
}

.box6 {
	background: purple;
}

.nav-link {
	color: #fff;
}

.banner {
	background-image: url('https://images.unsplash.com/photo-1573167507387-6b4b98cb7c13?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80');
	height: 500px;
}

.banner-row {
	margin: 0 auto;
}